<div id="doc-call" class="container-fluid doc-call-container ">
    <div class="row doc-call-row">
        <div class="col-md-10 nofloat center-block">
            <div class="col-sm-9 text-center nofloat center-block">
                <h2 class="doc-call-title">Want to start programming?</h2>
                <div class="lang-selector">
                    <p class="lang-selector-text">Go straight to the C++ Quick Start:</p>
                    <div class="lang-select-row">
                        <a href="{{site.baseurl}}/docs/cpp/quickstart.html" class="btn btn-abseil waves-effect inverse lang-select">C++</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
