<footer>
    <div class="container">
        <div class="left-links">
            <img src="img/typography_white.png" style="height:24px;"/>
            <p class="description">&copy;2017 Abseil | Live at Head</p>
        </div>
        <div class="right-links">
            <div class="col-md-4 col-sm-4 col-xs-12 footer-documentation">
                <ul class="toggle">
                    <a href="{{ site.baseurl }}/about/"><p class="right-link-headers">About Abseil</p></a>
                    <li><a href="{{ site.baseurl }}/about/intro"><p>Introduction</p></a></li>
                    <li><a href="{{ site.baseurl }}/about/philosophy"><p>Philosophy</p></a></li>
                    <li><a href="{{ site.baseurl }}/about/compatibility"><p>Compatibility</p></a></li>
                    <li><a href="{{ site.baseurl }}/about/design/"><p>Design Notes</p><a></li>
                 </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-3 col-sm-3 col-xs-12 footer-resources">
                <ul class="toggle">
                    <a href="{{ site.baseurl }}/docs/"><p class="right-link-headers">Dev Guides</p></a>
                    <li><a href="{{ site.baseurl }}/docs/cpp.html"><p>C++</p></a></li>
                    <li><a href="{{ site.baseurl }}/blog/"><p>Abseil Blog</p></a></li>
                </ul>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-5 col-sm-5 col-xs-12 footer-community">
                <ul class="toggle">
                    <a href="{{ site.baseurl }}/community/"><p class="right-link-headers">Community</p></a>
                    <li><a href="https://github.com/abseil/" target="_blank"><p class="github community-links">Github</p></a></li>
                    <li><a href="https://twitter.com/abseilio" target="_blank"><p class="twitter community-links">Twitter</p></a></li>
                    <li><a href="http://stackoverflow.com/tags/abseil/" target="_blank"><p class="stack-overflow community-links">Stack Overflow</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
