<div class="hero">
  <div class="container" >
    <h1 class="hero-title">
      <img src="img/typography_blue.svg" style="height:56px;" /></h1>
      <img class="logo" src="img/absl_204px.png" alt="Abseil" />
      <h1 class="hero-lead">Live at Head</h1>
      <a href="{{ site.baseurl }}/about">
    	  <button class="btn btn-abseil waves-effect btn-hero">LEARN MORE</button>
      </a>
      <a href="{{site.baseurl}}/docs/cpp.html">
        <button class="btn btn-abseil waves-effect btn-hero">GET STARTED</button>
      </a>
  </div>
</div>
