<ul class="doc-side-nav">
   <li><h5 class="doc-side-nav-title">
    <a href="{{ site.baseurl }}/fast/">Performance Guide</a></h5>
   </li>
   <li>
     <h6 class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/fast/hints.html">Performance Hints</a>
     </h6>
   </li>
   <li><h6 class="doc-side-nav-title">Fast Tips</h6></li>
   {% assign sorted_posts = site.posts | sort: 'order' %}

   {% for post in sorted_posts %}
     {% if post.title contains "Performance Tip of the Week" %}
     <li><h6 class="doc-side-nav-list-item">
         <a href="{{ post.url }}">{{ post.title | replace: 'Performance Tip of the Week', 'Fast TotW'}}</a></h6>
     </li>
     {% endif %}
   {% endfor %}
 </ul>
