<ul class="doc-side-nav">
	{% assign current = page.url | downcase | split: '/' %}
	<li><h5 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/">Docs</a></h5></li>
	<li><h5 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/cpp">C++ Devguide</a></h5></li>
	<li><h5 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/python/"><b>Python Devguide</b></a></h5></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/quickstart.html">Quickstart</a></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/styleguide">Styleguide</a></li>
	<li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/releasenotes">Release Notes</a></li>
	<li><h6 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/python/guides/">Programming Guides</a></h6></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/app">app.py</a></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/flags">Flags</a></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/logging">Logging</a></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/testing">Testing</a></li>
 </ul>