<ul class="doc-side-nav">
	{% assign current = page.url | downcase | split: '/' %}
	<li><h5 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/">Docs</a></h5></li>
  <li><h5 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/cpp">C++ Devguide</a></h5></li>
  <li><h5 class="doc-side-nav-title">
    <a href="{{ site.baseurl }}/docs/python.html" {% if (current[2] == 'python.html' && current[3] == "") %}class='current'{% endif %}></a>
    <b>Python Devguide</b></a></h5></li>
  <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/quickstart.html" {% if current[3] == 'quickstart.html' %}class='current'{% endif %}>Quickstart</a></li>
	<li><h6 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/python/guides/" {% if current[3] == 'guides' && current[4] == "" %}class='current'{% endif %}>Programming Guides</a></h6></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/app" {% if current[4] == 'app.html' %}class='current'{% endif %}>app.py</a></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/flags" {% if current[4] == 'flags.html' %}class='current'{% endif %}>Flags</a></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/logging" {% if current[4] == 'logging.html' %}class='current'{% endif %}>Logging</a></li>
   <li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/python/guides/testing" {% if current[4] == 'testing.html' %}class='current'{% endif %}>Testing</a></li>
 </ul>