<ul class="doc-side-nav">
	{% assign current = page.url | downcase | split: '/' %}
	<li><h5 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/">Docs</a></h5></li>
	<li><h5 class="doc-side-nav-title">
	<a href="{{ site.baseurl }}/docs/cpp.html" {% if (current[2] == 'cpp.html' && current[3] == "") %}class='current'{% endif %}></a>
	<b>C++ Devguide</b></a></h5></li>
	<li class="doc-side-nav-list-item">
	  <a href="{{ site.baseurl }}/docs/cpp/quickstart.html" {% if current[3] == 'quickstart.html' %}class='current'{% endif %}>
      Quickstart (Bazel)</a></li>
   <li class="doc-side-nav-list-item">
	  <a href="{{ site.baseurl }}/docs/cpp/quickstart-cmake.html" {% if current[3] == 'quickstart-cmake.html' %}class='current'{% endif %}>
      Quickstart (CMake)</a></li>
	<li><h6 class="doc-side-nav-title">
	  <a href="{{ site.baseurl }}/docs/cpp/guides/" {% if current[3] == 'guides' && current[4] == "" %}class='current'{% endif %}>
	Programming Guides</a></h6></li>
   <li class="doc-side-nav-list-item">
     <a href="{{ site.baseurl }}/docs/cpp/guides/base" {% if current[4] == 'base.html' %}class='current'{% endif %}>
     Abseil Fundamentals</a></li>
   <li class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/docs/cpp/guides/container" {% if current[4] == 'container.html' %}class='current'{% endif %}>
       Containers</a></li>
   <li class="doc-side-nav-list-item">
     <a href="{{ site.baseurl }}/docs/cpp/guides/flags" {% if current[4] == 'flags.html' %}class='current'{% endif %}>
     Flags Library</a></li>
   <li class="doc-side-nav-list-item">
     <a href="{{ site.baseurl }}/docs/cpp/guides/hash" {% if current[4] == 'hash.html' %}class='current'{% endif %}>
	     Hash Library</a></li>
   <li class="doc-side-nav-list-item">
	       <a href="{{ site.baseurl }}/docs/cpp/guides/meta" {% if current[4] == 'meta.html' %}class='current'{% endif %}>
	       Meta Library</a></li>
   <li class="doc-side-nav-list-item">
		     <a href="{{ site.baseurl }}/docs/cpp/guides/numeric" {% if current[4] == 'numeric.html' %}class='current'{% endif %}>
		     Numerics</a></li>
   <li class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/docs/cpp/guides/options" {% if current[4] == 'options.html' %}class='current'{% endif %}>
       Options</a></li>
   <li class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/docs/cpp/guides/random" {% if current[4] == 'random.html' %}class='current'{% endif %}>
       Random Library</a></li>
   <li class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/docs/cpp/guides/format" {% if current[4] == 'format.html' %}class='current'{% endif %}>
       String Formatting</a></li>
   <li class="doc-side-nav-list-item">
     <a href="{{ site.baseurl }}/docs/cpp/guides/strings" {% if current[4] == 'strings.html' %}class='current'{% endif %}>
     String Utilities</a></li>
   <li class="doc-side-nav-list-item">
     <a href="{{ site.baseurl }}/docs/cpp/guides/synchronization" {% if current[4] == 'synchronization.html' %}class='current'{% endif %}>
     Synchronization</a></li>
   <li class="doc-side-nav-list-item">
     <a href="{{ site.baseurl }}/docs/cpp/guides/time" {% if current[4] == 'time.html' %}class='current'{% endif %}>
     Time Library</a></li>
  <li><h6 class="doc-side-nav-title">
  <a href="{{ site.baseurl }}/docs/cpp/platforms/" {% if current[3] == 'platforms' && current[4] == "" %}class='current'{% endif %}>
   Platforms Guide</a></h6></li>
  <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/platforms/platforms" {% if current[4] == 'platforms.html' %}class='current'{% endif %}>Supported Platforms</a></li>
  <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/platforms/compilerflags" {% if current[4] == 'compilerflags.html' %}class='current'{% endif %}>Compiler Flags</a></li>
  <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/platforms/feature_checks" {% if current[4] == 'feature_checks.html' %}class='current'{% endif %}>Feature Check Macros</a></li>
  <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/platforms/macros" {% if current[4] == 'macros.html' %}class='current'{% endif %}>Pre-compiled Macros</a></li>
  <li><h6 class="doc-side-nav-title">
  <a href="{{ site.baseurl }}/docs/cpp/tools/" {% if current[3] == 'tools' && current[4] == "" %}class='current'{% endif %}>
   Tools Guide</a></h6></li>
  <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/tools/clang-tidy" {% if current[4] == 'clang-tidy.html' %}class='current'{% endif %}>Clang-tidy Checks</a></li>
    <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/tools/cmake-installs" {% if current[4] == 'cmake-installs.html' %}class='current'{% endif %}>CMake Install Binaries</a></li>
    <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/tools/api-upgrades" {% if current[4] == 'api-upgrades.html' %}class='current'{% endif %}>Automated Upgrades</a></li>
   <li class="doc-side-nav-list-item">
    <a href="{{ site.baseurl }}/docs/cpp/tools/upgrades/" {% if current[4] == 'upgrades' %}class='current'{% endif %}>Upgrade Tools</a></li>
  
  <li><h5 class="doc-side-nav-title"><a href="{{ site.baseurl }}/docs/python/"><b>Python Devguide</b></a></h5></li>
 </ul>
