<ul class="doc-side-nav">
   <li><h5 class="doc-side-nav-title">
    <a href="{{ site.baseurl }}/tips/">C++ Tips</a></h5>
   </li>
   <li><h6 class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/tips/1">TotW #1: string_view</a></h6>
   </li>
   <li><h6 class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/tips/55">TotW #55: Name Counting</a></h6>
   </li>
   <li><h6 class="doc-side-nav-list-item">
       <a href="{{ site.baseurl }}/tips/77">TotW #77: Temporaries, Moves, and Copies</a></h6>
   </li>
 </ul>
